body {
  background-color: #FFFFFF;
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #2dc653;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.form-group .forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #333;
}

.google-botao {
  color: #FFFFFF;
  margin-right: 10px;
  align-items: center;

}

.icon-login {
  color: #2dc653;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #FFFFFF;
}