* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-light: #FFFFFF;
    --color-green: #2dc653;
    --color-dark: #333;
}



img {
    mix-blend-mode: multiply;

}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    width: 100px;
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
    transition: .5s;
    height: 45px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 14px;
    border-radius: 70px;
}

.header-page {
    width: 100%;
    background-color: rgba(252, 251, 251, 0.986);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-menu ul {
    display: flex;
    gap: 25px;
    text-align: center;
    
    
    
    
}


/* Formatação da NAV */
/* nav {
    border: 1px solid red;
    text-align: center;
    justify-content: center;
    position: relative;
} */

h1 {
    padding: 25px;
    display: flex;
    
}

ul, ol {
    text-align: center;
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 5px auto;   
}

/* nav li {
    height: 45px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 14px;
    transition: border-color 0.3s;

} */

nav li.li-menu {
    width: 7%;
    margin: 15px;
}

a:hover {
    scale: 110%;
    background-color: var(--color-light);
    color: black;
    background-color: var(--color-green);
}


/* Formatação da MAIN */

main {
    border: 1px solid blue;
    width: 90%;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    
}
