* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



img {
    mix-blend-mode: multiply;

}

body {
    font-family: 'Comfortaa', cursive;
}


/* Formatação do HEADER */
nav {
    border: 1px solid red;
    text-align: center;
}

h1 {
    padding: 10px;
}

ul {
    display: flex;
    padding: 10px;
    margin: 5px auto;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s;
    text-align: center;

  }

nav li.li-menu {
    width: 5%;
    margin: 12px;
    border-radius: 70px;
    text-align: center;
}

li.li-menu:hover {
    scale: 110%;
    background-color: white;
    color: black;
    background-color: #2dc653;
}


/* Formatação da MAIN */

main {
    border: 1px solid blue;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    
}
