* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body {
    font-family: ;
} */


/* Formatação do HEADER */
header {
    border: 1px solid red;
    text-align: center;
    
}

h1 {
    padding: 10px;
}

ul {
    display: flex;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
}

li {
    width: 10%;
    border: 1px solid transparent;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    text-align: center;
}

li.li-menu {
    width: 5%;
    margin: 10px;
    border-radius: 70px;
    background-color: #2dc653;
    
}

li.li-menu:hover {
    scale: 110%;
    background-color: black;
    color: #2dc653;
}


/* Formatação da MAIN */

main {
    border: 1px solid blue;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    
}
